@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}



#bgImg{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(3px);
}

.gridItem{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.gridItem h4{
    color: slategray;
    font-size: .8rem;
}
.gridItem p{
    font-size: 3rem;
}
#humStatus{
    font-size: 10px;
}

.shadow{
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}